 .content {
    min-height: calc(100vh - 134px);
} 

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

img {
    height: 400px;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
}
